<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
       <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Contatos de emergência</ion-title>
        <ion-buttons end>
            <button ion-button (click)="add()" class="add-item">
          <ion-icon name="create"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="todos" padding>
    <p>Esta é uma pequena agenda com o seu contato de emergência. Se quiser, poderá adicionar 1 contato de confiança. Caso não se sinta bem e você clique em "Preciso falar com alguém!" uma mensagem SMS é disparada informando ao seus contato que você precisa
        de apoio.</p>
    <hr />
    <div *ngIf="phone == null" class="not-contacts">
        <ion-icon name="people" text-center></ion-icon>
        <p text-center>Nenhum contato adicionado</p>
        <p text-center>Clique no ícone
            <ion-icon name="create" style="font-size: 1.4em; display: inline-block; vertical-align: center;"></ion-icon> para adicionar um contato de emergência</p>
    </div>
    <ion-card *ngIf="phone != null" no-padding>
        <ion-item>
            <ion-avatar item-start>
                <ion-icon name="contact"></ion-icon>
            </ion-avatar>
            <h2>{{ name }}</h2>
            <p>{{ phone }}</p>
            <button (click)="delete()"><ion-icon name="trash"></ion-icon></button>
        </ion-item>
    </ion-card>
</ion-content>