.ios,
.md {
    page-faq {
        h3 {
            font-weight: 500;
            margin: 10px 0;
            padding-top: 10px;
            ion-icon {
                color: #ffc309;
                float: left;
                margin-top: 0;
                font-size: 36px;
                margin: 0 16px 0 0;
            }
        }
        ion-item {
            background: #f8f8f8;
            &.item-block {
                &:first-child,
                &:last-child {
                    border-top: 0;
                    border-bottom: 0;
                }
            }
            .item-inner {
                border-bottom: 0;
            }
        }
        .description {
            margin-left: 45px;
            font-size: 14px;
        }
    }
    ion-footer {
        border-top: 1px solid #dedede;
        bottom: 0;
        .disclaimer {
            background: transparent;
            font-size: 12px;
            margin: 0 40px;
        }
    }
}